.displayCreateGistForm{
    width: 48px;
    height: 48px;
    font-size: 25px;
    border-radius: 100%;

    position: fixed;
    right: 2%;
    bottom: 2%;
    
}

.displayCreateGistForm :first-child{
    position: relative;
    bottom: 5px;
}